name: path
version: 1.6.5-dev

description: >-
  A string-based path manipulation library. All of the path operations you know
  and love, with solid support for Windows, POSIX (Linux and Mac OS X), and the
  web.
homepage: https://github.com/dart-lang/path

environment:
 sdk: '>=2.9.0-1 <3.0.0'

dev_dependencies:
  pedantic: ^1.0.0
  test: '>=0.12.42 <2.0.0'

  build_runner: ^1.0.0
  build_test: ^0.10.0
  build_web_compilers: '>=1.2.0 <3.0.0'

dependency_overrides:
  async:
    git:
      url: git://github.com/dart-lang/async.git
      ref: null_safety
  boolean_selector:
    git:
      url: git://github.com/dart-lang/boolean_selector.git
      ref: null_safety
  charcode:
    git:
      url: git://github.com/dart-lang/charcode.git
      ref: null_safety
  collection:
    git:
      url: git://github.com/dart-lang/collection.git
      ref: null_safety
  matcher:
    git:
      url: git://github.com/dart-lang/matcher.git
      ref: null_safety
  meta:
    git:
      url: git://github.com/dart-lang/sdk.git
      ref: null_safety-pkgs
      path: pkg/meta
  pedantic:
    git:
      url: git://github.com/dart-lang/pedantic.git
      ref: null_safety
  source_span:
    git:
      url: git://github.com/dart-lang/source_span.git
      ref: null_safety
  stack_trace:
    git:
      url: git://github.com/dart-lang/stack_trace.git
      ref: null_safety
  stream_channel:
    git:
      url: git://github.com/dart-lang/stream_channel.git
      ref: null_safety
  string_scanner:
    git:
      url: git://github.com/dart-lang/string_scanner.git
      ref: null_safety
  term_glyph:
    git:
      url: git://github.com/dart-lang/term_glyph.git
      ref: null_safety
  test_api:
    git:
      url: git://github.com/dart-lang/test.git
      ref: null_safety
      path: pkgs/test_api
  test_core:
    git:
      url: git://github.com/dart-lang/test.git
      ref: null_safety
      path: pkgs/test_core
  test:
    git:
      url: git://github.com/dart-lang/test.git
      ref: null_safety
      path: pkgs/test
